*.actionLog
*.aimmslockfile
*.aimmspack
*.7z
*.aux
*.bak
*.data
*.dll
*.dmp
*.dvi
*.err
*.errorLogging
*.err.txt
*.exp
*.gz
*.idb
*.ilk
*.ipch
*.lis
*.log
*.modelLog
*.obj
*.out
*.pdb
*.pdf
*.plg
*.put
*.pyc
*.sdf
*.suo
*.tlog
*.zip
PROtemp
PROtemp-*
/.cache
/deps
/tmp
/target
/libraries
/aimms
/MultiSolveTest/log/*
/MultiSolveTest/backup/*
/MultiSolveHelloWorld/log/*
/MultiSolveHelloWorld/backup/*
.vs
